@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  /* Text Colors */
  --text-bold: #1A1A1A;
  /* was --chữ-đậm */
  --text-medium: #4D4D4D;
  /* was --chữ-vừa */
  --text-light: #808080;
  /* was --chữ-nhạt */
  --text-mute: #B3B3B3;
  /* was --chữ-mờ */

  /* Background Colors */
  --canvas-bg: #F6F8FD;
  /* was --nền-canvas */
  --base-bg: #FFFFFF;
  /* was --nền-1 */

  /* Primary Colors */
  --primary: #E8B561;
  /* was --1st-chính */
  --primary-border: #FDEA9B;
  /* was --1st-viền */
  --primary-gradient: #ECC079;
  /* was --1st-gradient */
  --primary-bg: #003048;
  /* was --1st-nền */

  /* Info Colors */
  --primary-info: #0553FA;
  /* was --info-chính */
  --info-border: #9BBAFD;
  /* was --info-viền */
  --info-bg: #E6EEFE;
  /* was --info-nền */

  /* Error Colors */
  --primary-error: #FA0505;
  /* was --lỗi-chính */
  --error-border: #FC9A9A;
  /* was --lỗi-viền */
  --error-bg: #FFE8E8;
  /* was --lỗi-nền */

  /* Success Colors */
  --primary-success: #20CB70;
  /* was --ổn-chính */
  --success-border: #A7F1CA;
  /* was --ổn-viền */
  --success-bg: #E9FCF2;
  /* was --ổn-nền */

  /* Warning Colors */
  --primary-warning: #F5B324;
  /* was --cảnh-báo-chính */
  --warning-border: #FADD9E;
  /* was --cảnh-báo-viền */
  --warning-bg: #FEF7E7;
  /* was --cảnh-báo-nền */

  /* Other Colors */
  --primary-other: #EBEBEB;
  /* was --khác-viền */
  --other-border: #FFFFFF;
  /* was --khác-trắng */
  --other-bg: #1A1A1A;
  /* was --khác-đen */

  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  /* --primary: oklch(0.205 0 0); */
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  /* --primary: oklch(0.922 0 0); */
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}


.h1 {
  color: var(--text-bold); 
  font-family: "Inter Display"; 
  font-style: bold;
  font-weight: 500; 
  font-size: 42px; 
  letter-spacing: 0em; 
  line-height: 1.4em; 
}

.h2 {
  color: var(--text-bold); 
  font-family: "Inter Display"; 
  font-style: bold;
  font-weight: 500; 
  font-size: 31px; 
  letter-spacing: 0em; 
  line-height: 1.2em; 
}

.h3 {
  color: var(--text-bold); 
  font-family: "Inter Display"; 
  font-style: bold;
  font-weight: 500; 
  font-size: 24px; 
  letter-spacing: 0em; 
  line-height: 1.4em; 
}

.body-large {
  color: var(--text-bold); 
  font-family: "Inter Display"; 
  font-weight: 400; 
  font-size: 18px; 
  letter-spacing: 0em; 
  line-height: 1.7em; 
}

.body {
  color: var(--text-bold); 
  font-family: "Inter Display"; 
  font-weight: 400; 
  font-size: 15px; 
  letter-spacing: 0em; 
  line-height: 1.8em; 
}

.small {
  color: var(--text-bold); 
  font-family: "Inter Display"; 
  font-weight: 400; 
  font-size: 13px; 
  letter-spacing: 0.01em; 
  line-height: 1.5em; 
}

.nav {
  color: var(--text-bold); 
  font-family: "IBM Plex Sans"; 
  font-weight: 500; 
  font-size: 11px; 
  letter-spacing: 0em; 
  line-height: 1.2em; 
}

.button {
  color: var(--text-bold); 
  font-family: "IBM Plex Mono"; 
  font-weight: 500; 
  font-size: 12px; 
  letter-spacing: 0em; 
  line-height: 1.2em; 
}

/* Text color */
.text-bold {
  color: var(--text-bold);
}
.text-medium {
  color: var(--text-medium); 
}
.text-light {
  color: var(--text-light); 
}
.text-mute {
  color: var(--text-mute); 
}

/* Background */
.canvas-bg {
  background-color: var(--canvas-bg); 
}
.canvas-bg-1 {
  background-color: #FFFFFF; 
}

/* Info */
.text-info {
  color: var(--primary-info); 
}
.border-info {
  border-color: var(--info-border); 
}
.bg-info {
  background-color: var(--info-bg); 
}

/* Error */
.text-error {
  color: var(--primary-error); 
}
.border-error {
  border-color: var(--error-border); 
}
.bg-error {
  background-color: var(--error-bg); 
}

/* Success */
.text-success {
  color: var(--primary-success); 
}
.border-success {
  border-color: var(--success-border); 
}
.bg-success {
  background-color: var(--success-bg); 
}

/* Warning */
.text-warning {
  color: var(--primary-warning); 
}
.border-warning {
  border-color: var(--warning-border); 
}
.bg-warning {
  background-color: var(--warning-bg);
}

/* Other */
.text-other {
  color: var(--primary-other); 
}
.border-other {
  border-color: var(--other-border); 
}
.bg-other {
  background-color: var(--other-bg); 
}